@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');

.formContainer{
    background-color: rgba(255, 255, 255, 1) ;
    padding: 45px;
    border-radius: 15px;
    width: 90%;
    max-width: 350px;
 
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0);
    display: grid;
    gap: 2.5em;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.formInputWarnig{
    width: 100%;
    background: none;
    color: 706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #5757577e;
}

.formInputWarning:focus + .formLabel,
.formInputWarning:not(:placeholder-shown) + .formLabel{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color:rgb(245, 68, 68)
}

.formInputOk{
    width: 100%;
    background: none;
    color: 706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #5757577e;
}

.formInputOk:focus + .formLabel,
.formInputOk:not(:placeholder-shown) + .formLabel{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color:rgb(40, 240, 57)
}

.formGroup{
    position: relative;
}

.formLabel{
    color: #5757577e;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.boton{
    background-color: rgb(46, 19, 141);
    color: white;
    font-weight: 300;
    border: none;
    font-size: 1rem;
    padding: .8em 0;
    width: 100%;
    border-radius: 7px;
    
}
.boton:hover{
    cursor: pointer;
    background-color: rgb(94, 76, 160);
}
