.navBar{
    width: 100%;
    background-color: rgb(37, 37, 37);
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.decorationLink{
    text-decoration: none;
}

.sobremi{
    font-size: 1em;
    text-decoration: none;
    color: aliceblue;
}

.sobremi:hover{
    color: rgb(40, 240, 57);
}

.foto{
    max-width: 200px;
}